<ion-content class="ion-padding">
  <div class="row mt-8">
    <div class="col-md-4 mx-auto">
      <ion-card>
        <ion-card-header>
          <ion-title text-center>Label genéricos</ion-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <app-labels id="labelPrueba" text="LabelPrueba" position="floating" color="primary"></app-labels>
          </ion-item>
          <ion-button color="primary" expand="full" routerLink="/libros">
            <ion-icon name="return-down-back-sharp"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>